@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/



@font-face {
    font-family: 'Tagettes';
    src: url('../fonts/tagettes/tagtts2u-webfont.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/*

@font-face {
  font-family: 'Cambo';
  src: url('../fonts/cambo/cambo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
*/




@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');
.cambo-regular {
  font-family: 'Cambo';
  font-weight: normal;
  font-style: normal;
  font-display:block;
}






/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgb(255, 255, 255);
  --color-text: rgb(255, 255, 255);
  --color-text-link: white;
  --color-text-link-hover: #262626;
  /* Font values */
  --font-family: Literata;
  --font-size: 150%;
  /* Margin value */
  --margin: 1rem;
}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color:#E4E4E4;
  background-color: #E4E4E4;
}

body {
  position:relative;
  background-color: #E4E4E4; 
  font: var(--font-size) var(--font-family);
color:white;
  width:100%;
  height:auto;
  overflow-y:auto;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
 
  
}
.fade-out {
  /* Define initial opacity */
  opacity: 1; /* Set to 1 for full opacity */
  /* Add transition for smooth fading */
  transition: opacity 0.5s ease;
}


.fade-out.fade {
  /* Adjust opacity for fading out */
  opacity: 0; /* Set to 0 for full transparency */
}

a {
  color:white;
  text-align: center;
}

a:hover {

  
  text-decoration: none;

}

.content-container {
  /* display: flex; */
}


.footnote-ref {
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to indicate interactivity */
  opacity: 100%;

}

/* Style for footnote content */
.footnote-content {
  margin-top: 5px; /* Add spacing above the footnote content */
  padding: 5px; 
  color: #825435 !important;
font-family: Arial, Helvetica, sans-serif;
display:block;
  position: relative; 
  float: right;
  width: 100%;
  max-width: none; 
  padding: 5px; /* Add padding */
  border: 1.5px solid; /* Add border for clarity */
  box-sizing: border-box;
  border-radius: 5px; 
  font-size: clamp(0.5rem, 0.200vw + 0.5rem, 1rem);
  line-height: clamp(0.5rem, 0.462vw + 0.63rem, 0.8rem);
}

  /*position:absolute;
  float: right;
  clear:right;
  background-color: transparent;
  width:calc(100vw - 40rem);
  left:75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  line-height: 1.2;
  width: 10rem;
  cursor: pointer;
  border: var(--color-text);

}*/

/*
.footnotes{
  position:absolute;
  width:calc(100vw - 40rem);
  left:70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  width: 10rem;
}

*/



/* 
.footnote-ref {
  position: relative; 
  font-size: 0.8em; 
  text-decoration: none; 
  font-family: Arial, Helvetica, sans-serif;
}
*/

.footnote-ref:hover {

  text-decoration: none;
  color: #825435 !important;
}

/* Style for footnote content */
.footnotes-column {
 display:none;
}


/* CSS styles for bibliography references */
.bibliography {
  position: relative;
 margin-left: 0;
  text-decoration: none; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  font-weight: bolder;
  padding-left: 0.1rem;
  bottom:0.4rem;
}
ul{
  margin-left: 0;
  padding-left: 0;
}


.bibliography :hover {

  color: #825435 !important;
}

#bibliography-container a {

overflow-wrap: break-word;
word-wrap: break-word;
color: #ff73d4 !important;
opacity:100%;

word-break: break-word;
}
.bibliography-ref a:hover {
  z-index:3000;
  opacity: 50%;
}

.reference-content {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: none; 
}

/* Styling for the container of the bibliography references at the bottom */
#bibliography-container {
  margin-top: 20px; 
  z-index:3000;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30%;
  text-decoration: none !important;
  list-style-type: none !important;
  text-align: left;
 
  line-height:1.2;
}

.p2 {
  margin-top: 20px; 
  color: #825435 !important;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30%;
  text-decoration: none !important;
  list-style-type: none !important;
  text-align: left;
  line-height:1.2;
}

#bibliography-container ul {
  list-style-type: none !important;
  font-size: 2ch;
}

.column-reading {
  column-count:2;
  float: left;
  width: 60%; /* Adjust the width as needed */
  font-size: clamp(0.2rem, 0.200vw + 0.5rem, 0.5rem);
  line-height: clamp(0.75rem, 0.462vw + 0.63rem, 1rem);
}

.column-images {
  float: left;
  width: 30%; /* Adjust the width as needed */
  font-size: clamp(0.2rem, 0.200vw + 0.5rem, 0.5rem);
  line-height: clamp(0.75rem, 0.462vw + 0.63rem, 1rem);
}

/* Clear floats after the columns */
#bibliography-container:after {
  display: table;
  clear: both;
}

#reference a {
  text-decoration: none; /* Removes the underline */
}

.text-column {
  flex: 2; /* Adjust the width of the main content column */
  width: 50%; /* Adjust width as needed */
    float: left; /* Float the column to allow multiple columns */
    margin-right: 20px; /* Add spacing between columns */

    float: none;
    width: 26ch;
    max-width: 100%;
    margin-inline: auto;
}

footer {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  color: white;
  width: 100%;
  text-align: left;
  font-style:normal;
}


h1{
  font-family: Tagettes;
  text-align: center;
  font-size: min(13vw,7.5rem);
  line-height: 1.5;
  color:  var(--color-text);
  /* margin: -10px; */
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:transparent;

      text-wrap: balance;
  
}

h2 {

  --background-color: transparent;
  font-size: min(72px, 9vw);
  position: sticky;
  top: 0;
  font-family: Tagettes;
  transition: background-image 0.3s ease, color 0.3s ease, background-color 0.3s ease; /* Combine all transitions */
  background-color: transparent !important;
  /*background-image: linear-gradient(var(--background-color), transparent);*/
  z-index: 1000;
 
  transition: color 0.5s ease;

  transition: background-image 0.3s ease, color 0.3s ease;




}

.cambo-regular {
  font-family: "Cambo", serif;
  font-weight: 400;
  font-style: normal;
}



.container {
  height: 100vh; /* Set a fixed height for the container */
  overflow: auto; /* Allow scrolling within the container */
}

.container p {
  transition: opacity 0.3s ease;
}

.container > :not(h2) {
  transition: opacity 0.3s ease; /* Add a transition for opacity */
}


h3 {
  font-family: Arial;
  font-weight: 100;
  font-size: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:transparent;

}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:transparent;
  text-align: center;

}

h5{
font-family: Tagettes;
font-size: 1rem;

}

h6{
  font-family: Tagettes;
  font-size: 2rem;
}

p {
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin-left: 18rem;
  margin-right:18rem; */
  text-align: justify;
  text-justify: inter-character;
  font-family: 'Cambo';
  font-size: 0.8rem; 
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
  background:transparent;
  }

  p::first-letter {
    font-family: Tagettes;
    font-size: 100%; /* Adjust the font size as needed */
    float: left; /* Optional: Use float to wrap text around the first letter */
    margin-right: 0px; /* Optional: Add margin to separate the first letter from the rest of the text */
  }

  


 

ol, ul{
  margin-left:0;
  
}

blockquote{

}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(10px);
}

/* ±igation */
 
/* Styles for the table of contents */
/* How do I get rid of the dots?*/


nav.table-of-contents {
  position: sticky;
  font-family: Arial;
  font-size: 45%;
  top: 8rem;
  z-index: 0; /* Ensure it appears on top of other elements */
  width:25vw;
  padding: 1rem;
  box-sizing: border-box;
  transition: position 0.3s ease;

  line-height: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav.table-of-contents.sticky {
  /*position: fixed; Make it fixed when sticky */

  width:25vw;
  font-size: 45%;
  padding: 1rem;
  z-index:0;
  transition: background-color 0.3s ease, color 0.3s ease;
 

}

.subchapters {
  display: none;
  line-height: 4;

  
}





/* Display the subchapters when hovering over the main chapters */
.table-of-contents li:hover .subchapters {
  display: block;
  opacity: 50%;
  line-height: 0.2;
  margin-top: 1%;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-indent: 1.5%;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index:1;
}

nav ul li {
  margin-bottom: 10px; /* Add margin between list items */
  color:white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a {
  text-decoration: none;
  line-height: 0.8;
 /* Adjust the text c1olor as needed */
}

/* content */

main{

  text-align: center;
  /* padding: 50px; */
display:block;
  padding: 1rem;
}



.illustration {
  float:left;
  width: 5rem; /* Width of your illustration */
  text-align: left;/* Align the illustration in the center */
}

.illustration img {
  max-width: 100%;
  height: auto;
  text-align: left;
}

summary{
  
}


#quote {
font-family: Literata;
font-size: 15px;
text-align: center;
margin-left: 500px;
margin-right: 500px;

}

#subtitle {
text-align: center;
font-size: 1ch;
transition: color 0.5s ease;
font-family: Cambo;
font-weight: normal;
background: none !important;;

}

img {
  display:block;
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Set the maximum width of the image */
  height: auto; /* Maintain the aspect ratio */
  text-align: center;
}

figure {
  margin: 0; /* Remove any margins */
  text-align: center;
}




figcaption.image-caption{
  font-size: 15px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  /* margin-left: 420px;
  margin-right: 420px; */
  padding: 0.5rem;

  text-wrap: balance;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
}



.last {
  margin-top: 10rem; /* Add spacing above the acknowledges section */
}

.acknowledges {
  padding-right: 5rem;
  font-style: normal;
}

.acknowledges p {
  margin: 0; /* Remove default paragraph margin */
  font-size: 16px; /* Set the font size */
  line-height: 1,1; /* Set the line height */
  font-family: Cambo;
  font-style: normal;
  text-align: left;
  
}



#blank{

  font-size: 10px;;
}








/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

.hidden {
  display: none;
}




/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

#menuToggle {
  font-size: 24px; /* Adjust the font size as needed */
  /* position: fixed; */
  bottom:0;
  left:15px;
  /* right: 20px; */
  cursor: pointer;
  display: none; /* Initially hide the X */


 
}

#backToTopBtn {
  display: none; /* Hide the button by default */
}

/* Adjust the table of contents for smaller screens */
@media (max-width: 779px) {

  #backToTopBtn {
    position: fixed;
    display: block;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    font-family: tagettes;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
  

  
  nav.table-of-contents {
      position: sticky; /* Change to sticky */
      top: 0;
      left: 0;
      width: 100%;
      padding: 1rem;
      z-index: 100; /* Adjust as needed */
      background-color: transparent;
      color: white; /* Example text color */
      transition: background-color 0.3s ease, color 0.3s ease;
  }

  nav.table-of-contents.sticky {
      position: relative; /* Change to relative */
      top: auto;
      background-color: transparent; /* Example background color */
      color: transparent; /* Example text color */
  }

  .subchapters {
      display: none;
      line-height: 2;

        top: 0; /* Align it with the top of the table of contents */
      
  }



  /* Display the subchapters when hovering over the main chapters */
  .table-of-contents li:hover .subchapters {
      display: block;
      opacity: 70%;
      line-height: 0.2;
      margin-top: 1%;
      transition: background-color 0.3s ease, color 0.3s ease;
      text-indent: 1.5%;
  }

  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 1;
  }

  nav ul li {
      margin-bottom: 20px; /* Add margin between list items */
      transition: background-color 0.3s ease, color 0.3s ease;
  }

  nav a {
      text-decoration: none;
      line-height: 0.2;
      color: white; /* Adjust the text color as needed */
  }



  img {
    position: relative;
    width: 100%;
    grid-area: 0.5rem;
  }

  .footnote-content {
    display:block; 
    position:relative;
    float: none; 
    width: 100%;
    max-width: 100%;
    padding: 5px; 
    border: 1.5px solid; 
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: clamp(0.5rem, 0.200vw + 0.5rem, 1rem);
    line-height: clamp(0.5rem, 0.462vw + 0.63rem, 0.8rem);
  }
}




  @media (max-width: 600px){

  


}


@media (max-width: 2000px) {
  nav {
   
    width: 400px;
   
   
  }
 
}

  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }






/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}


 /* Adjustments for mobile responsiveness */
 @media (max-width: 779px) {
  .content-container {
    flex-direction: column; /* Stack columns on small screens */

  }



  }


   

  .image-column {
    flex: 1; /* Take full width on small screens */
  }

