@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
    font-family: 'Amiamie';
    src: url('../fonts/Amiamie/Amiamie.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Tagettes';
    src: url('../fonts/Tagettes/tagttP2U.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: 'Mitre Square';
  src: url('../fonts/Mitre_square/mitresqu_u-webfont.woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Tagettes';
  src: url('../fonts/Tagettes/tagttP2U.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Abhaya';
  src: url('../fonts/Abhaya/abhayalibre-regular-webfont.woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'Cambo';
  src: url('../fonts/Cambo/cambo-regular-webfont.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Literata';
  src: url('../fonts/Literata/literata-variablefont_opszwght-demo.html');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgb(255, 255, 255);
  --color-text: rgb(255, 255, 255);
  --color-text-link: white;
  --color-text-link-hover: #262626;
  /* Font values */
  --font-family: Literata;
  --font-size: 150%;
  /* Margin value */
  --margin: 1rem;
}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color:#E4E4E4;
  background-color: #E4E4E4;
}

body {
  position:relative;
  background-color: #E4E4E4; 
  font: var(--font-size) var(--font-family);
  color: white;
  width:100%;
  height:auto;
  overflow-y:auto;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
 
  
}



a {
  color: #6b97e9;
  text-align: center;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
  
}

.content-container {
  /* display: flex; */
}


.footnote-ref {
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to indicate interactivity */
  opacity: 100%;
}

/* Style for footnote content */
.footnote-content {
  margin-top: 10px; /* Add spacing above the footnote content */
  padding: 5px; 
  position:absolute;
  float: right;
  background-color: transparent;
  width:calc(100vw - 40rem);
  left:75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  width: 10rem;
  cursor: pointer;
  border: var(--color-text);
}

/*
.footnotes{
  position:absolute;
  width:calc(100vw - 40rem);
  left:70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  width: 10rem;
}

*/



/* 
.footnote-ref {
  position: relative; 
  font-size: 0.8em; 
  text-decoration: none; 
  font-family: Arial, Helvetica, sans-serif;
}
*/

.footnote-ref:hover {
  opacity: 50%;
  text-decoration: none;
}

/* Style for footnote content */
.footnotes-column {
 display:none;
}


/* CSS styles for bibliography references */
.bibliography {
  position: relative;
  text-decoration: none; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  color: #5e3812;
  font-weight: bolder;
  padding-left: 0.2rem;
  bottom:0.4rem;
}



.bibliography-ref :hover {
  text-decoration: none;
  opacity: 50%;
}

.bibliography a:hover {
  text-decoration: none !important; 
}

.reference-content {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: none; 
}

/* Styling for the container of the bibliography references at the bottom */
#bibliography-container {
  margin-top: 20px; 
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30%;
  text-decoration: none !important;
  list-style-type: none !important;
  text-align: left;
  line-height:1.2;
}

.p2 {
  margin-top: 20px; 
  color: #5e3812;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30%;
  text-decoration: none !important;
  list-style-type: none !important;
  text-align: left;
  line-height:1.2;
}

#bibliography-container ul {
  list-style-type: none !important;
  padding-left: 20; /* Optional: to remove default left padding */
  font-size: 2ch;
}

.column-reading {
  column-count:2;
  float: left;
  width: 60%; /* Adjust the width as needed */
  font-size: clamp(0.2rem, 0.200vw + 0.5rem, 0.5rem);
  line-height: clamp(0.75rem, 0.462vw + 0.63rem, 1rem);
}

.column-images {
  float: left;
  width: 30%; /* Adjust the width as needed */
  font-size: clamp(0.2rem, 0.200vw + 0.5rem, 0.5rem);
  line-height: clamp(0.75rem, 0.462vw + 0.63rem, 1rem);
}

/* Clear floats after the columns */
#bibliography-container:after {
  display: table;
  clear: both;
}

#reference a {
  text-decoration: none; /* Removes the underline */
}

.text-column {
  flex: 2; /* Adjust the width of the main content column */
  width: 50%; /* Adjust width as needed */
    float: left; /* Float the column to allow multiple columns */
    margin-right: 20px; /* Add spacing between columns */

    float: none;
    width: 26ch;
    max-width: 100%;
    margin-inline: auto;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  color: #5e3812;
  position: absolute;
  bottom: 0;
  width: 100%;
}


h1{
  font-family: Tagettes;
  text-align: center;
  font-size: min(10vw,7.5rem);
  line-height: 1.5;
  color:  var(--color-text);
  /* margin: -10px; */
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:transparent;

      text-wrap: balance;
  
}

h2 {
  --background-color: transparent;

  position: sticky;
  top: 0; /* Stick to the top of the container */
  font-family: Tagettes;
  transition: color 0.5s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:transparent !important;

  background-image: linear-gradient(var(--background-color), transparent);
  
  z-index: 1000; /* Ensure it appears above other content */
}

.container {
  height: 100vh; /* Set a fixed height for the container */
  overflow: auto; /* Allow scrolling within the container */
}


h3 {
  font-family: Arial;
  font-weight: 100;
  font-size: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:transparent;

}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:transparent;
  text-align: center;

}

h5{
font-family: Tagettes;
font-size: 1rem;

}

p {
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin-left: 18rem;
  margin-right:18rem; */
  text-align: justify;
  text-justify: inter-character;
  font-family: Literata;
  font-size: 0.8rem; 
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
  background:transparent;
  }

  


 

ol, ul{
  
}

blockquote{

}

hr{
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(10px);
}

/* ±igation */
 
/* Styles for the table of contents */
/* How do I get rid of the dots?*/


nav.table-of-contents {
  position: relative;
  font-family: Arial;
  font-size: 45%;
  top: 0;
  z-index: 2000; /* Ensure it appears on top of other elements */
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  transition: position 0.3s ease;
  color:white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav.table-of-contents.sticky {
  position: fixed; /* Make it fixed when sticky */
  left: 0;
  font-size: 45%;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.subchapters {
  display: none;
  line-height: 2;
  
}

/* Display the subchapters when hovering over the main chapters */
.table-of-contents li:hover .subchapters {
  display: block;
  opacity: 50%;
  line-height: 0.4;
  margin-top: 1%;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-indent: 1.5%;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 20px; /* Add margin between list items */
  color:white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a {
  text-decoration: none;
  color: #ffffff; /* Adjust the text color as needed */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* content */

main{
  color: white;
  text-align: center;
  /* padding: 50px; */
display:block;
  padding: 1rem;
}



summary{
  
}


#quote {
font-family: Literata;
font-size: 15px;
text-align: center;
margin-left: 500px;
margin-right: 500px;

}

#subtitle {
text-align: center;
font-size: 20px;
transition: color 0.5s ease;
font-family: Cambo;
background: none !important;;

}

img {
  display:block;
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Set the maximum width of the image */
  height: auto; /* Maintain the aspect ratio */
  text-align: center;
}




figcaption.image-caption{
  font-size: 15px;
  font-family: Arial;
  font-style: normal;
  text-align: center;
  /* margin-left: 420px;
  margin-right: 420px; */
  padding: 0.5rem;

  text-wrap: balance;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
}


#menuToggle {
  font-size: 24px; /* Adjust the font size as needed */
  /* position: fixed; */
  top: 20px;
  /* right: 20px; */
  cursor: pointer;
  display: none; /* Initially hide the X */
}





#blank{

  font-size: 10px;;
}






/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}





/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

#menuToggle {
  font-size: 24px; /* Adjust the font size as needed */
  /* position: fixed; */
  top: 20px;
  /* right: 20px; */
  cursor: pointer;
  display: none; /* Initially hide the X */
}

@media (max-width: 779px) {

  body {
    overflow-x: hidden !important; /* Prevent horizontal scrolling */
  }

  nav {
    position: fixed;
    top: 1; left: 0;
    padding-top: 3rem;
    margin: 0;
    width: 200px;
    height: 100vh;
    transition: transform .25s, background-color 0.3s ease, color 0.3s ease;
    transform: translateX(-100%);
    z-index: 2000;
    background-color: transparent !important;
    background-image: linear-gradient(var(--background-color), transparent);
  }
  
  nav.opened {
    transform: translateX(0);
    position: sticky;
    top: 0;
  }
  
  #menuToggle {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    display: flex;
    z-index: 2000;
    background-color: transparent !important;
    background-image: linear-gradient(var(--background-color), transparent);
  }


  img {
    position: relative;
    width: 100%;
    padding: 3vw;
    grid-area: 0.5rem;
  }

  .footnote-content {
display:block;
position:relative;
width: 70vw;
margin-left:0;
margin-top:1rem;
font-size: clamp(0.8rem, 1vw,2vw);
line-height: clamp (1.1rem, 1.5vw, 1.3rem);

  }


  @media (max-width: 600px){

  
  .footnote-inside {
      position: relative;
      width: 70vw;
      margin-left: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      height: auto;
  }

}


@media (max-width: 2000px) {
  nav {
   
    width: 400px;
   
   
  }
 
}

  /* utility classes, mobile */

  .desktop-only{
    display:none;
  }

  .mobile-only{
    display:block;
  }






/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

   /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}


 /* Adjustments for mobile responsiveness */
 @media (max-width: 779px) {
  .content-container {
    flex-direction: column; /* Stack columns on small screens */

  }



  }


   

  .image-column {
    flex: 1; /* Take full width on small screens */
  }


}