@font-face {
    font-family: 'Amiamie';
    src: url('Amiamie-Regular.woff2') format('woff2'),
        url('Amiamie-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CirrusCumulus';
    src: url('CirrusCumulus.woff2') format('woff2'),
        url('CirrusCumulus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

